
.navbar {
    height: 15vh;
    background-color: rgb(52, 179, 166);
    color: white;
    padding: 30px;
}
.mainbody {
    height: 100%;
    background-color: gray;
    color: white;
    padding: 30px;
}
.card {
    color: rgb(52, 179, 166);
    margin: 15px;
    font-size: 18px;

}