
.navbar {
    height: 90px;
    background-color:#FBC107;
    color: white;
    padding: 30px;
    font-family: 'Julius Sans One', sans-serif;
}
h2 {
    font-size: 22px;
}
.mainbody {
    height: 100%;
    background-color: black;
    color: white;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}
.card {
    background-color: white;
    color: gray;
    margin: 15px;
    font-size: 18px;
}
.btn {
    width: 150px;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.form-control {
    margin: 5px;
}

h3 {
    text-decoration: underline;
}

#fat label {
    font-style: italic;
}
.custom-select {
    background-color:#FBC107;
}