body {
    background-color: black;
}

.logo {
    max-width: 180px;
    padding: 10px 10px 15px 10px;
    
}
.navbar {
    height: 80px;
    background-color:white;
    padding: 20px 10px 30px 10px;
}
#iglogo {
    max-width: 55px;
    padding: 10px;
}

.navbar-tab {
    height: 75px;
    background-color:white;
    color: black;
    padding: 30px 5px 5px 5px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: large;
}
.nav-link {
    color: #26B3F1;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color:black;
    border-color: black;
}
.mainbody {
    height: 100%;
    background-color: black;
    color: white;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: normal;
}
.footer {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: small;
    text-align: center;
}
/* index page */

.card {
    background-color: aliceblue;
    color: gray;
    margin: 15px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.btn {
    width: 70px;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
#btnReset {
    opacity: 60%
}
#btnReset:hover {
    opacity: 100%;
}
#btnSubmit:hover {
    background-color: darkred;
    border: darkred;
}

/* scoresheet form */

input::placeholder {
    font-size: small;
}

.form-control {
    margin: 5px;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}
.disclaimer {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 11px;
    color: red;

}
#skate_level {
    color: #1D9AAF;
    background-color: aliceblue;
    font-size: medium;
}

.modal-header {
    background-color: darkred;
    color: white;
    font-family: 'Julius Sans One', sans-serif;

}
.modal {
    color: black;
    font-size: medium;
}
#fscore, #psscore, #abcscore {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Monserrat', sans-serif;
    margin: 0px;
}
.modalcol {
    margin-top: 2px;
    margin-bottom: 15px;
    padding: 3px;
    border: solid 0.5px #ED008F;
    font-size: 12px;
}
h3 {
    text-decoration: underline;
}

#fat label {
    font-style: italic;
    font-size: 15px;
}

/* info page */
#intro {
    font-size: 18px;
}

h6 {
    text-decoration: underline;
    font-size: 18px;
}
.para {
    font-size: medium;
}